body {
    text-align: center;
<<<<<<< HEAD
    background-color: #34495e;
    padding-bottom: 4em;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: #ecf0f1;
=======
}

h1 {
    font-family: Monoton;
    font-size: 70px;
>>>>>>> 0f51382a75ccb590de1dbe0b3790bd1236d2aa02
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
<<<<<<< HEAD
    padding-bottom: 0.5em;
    color: #ecf0f1;
=======
>>>>>>> 0f51382a75ccb590de1dbe0b3790bd1236d2aa02
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
<<<<<<< HEAD
    background-color: #fff;
=======
>>>>>>> 0f51382a75ccb590de1dbe0b3790bd1236d2aa02
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
<<<<<<< HEAD

#sizePicker {
    color: #ecf0f1;
}

p {
    color: #ecf0f1;
}

span {
    color: #ecf0f1;
    padding-left: 2em;
    
}
=======
>>>>>>> 0f51382a75ccb590de1dbe0b3790bd1236d2aa02
